html,
body{
    height: 100%;
}

body{
    display: flex;
    justify-content:center;
    align-items: center;
}

.contenedor{
    min-width: 350px;
    max-width: 350px;
    padding: 50px 30px;
    background-color: darkcyan;
    border-radius: 30px;
    box-shadow: 10px 10px 0 0 darkslategray;
    
}

.pantalla {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: aliceblue;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    box-shadow: 3px 3px 0 0 darkslategray;
    min-height: 100px;
    max-height: 100px;
    font-size: 30px;
}

.fila2,
.fila3,
.fila4,
.fila5,
.fila6{
    display: flex;
    width: 100%;
    padding: 5px 0 5px 0;
    gap: 5px;
}

button {
    height: 50px;
    border-width: 0;
    font-size: 20px;
    background-color: aliceblue;
    color:darkslategrey;
    box-shadow: 3px 3px 0 0 darkslategray;
    flex: 1;
}


#cero {
    flex: 2.25;
    border-radius: 0 0 0 10px;
}

#igual {
    border-radius: 0 0 10px 0;
}

.opcion{
    background-color:aquamarine;
}

.operador {
    background-color: lightgreen;
}

.tocando,
button:active{
    background-color:lightblue;
    box-shadow: 0 0 0 0 darkslategray;
}
